.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins",sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

button{
  display: inline-block;
  background: #4070F4;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  outline:none;
}

header{
  position:fixed;
  width:100%;
  top:0;
  /* right:0; */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #cdffc0;
  padding: 0.05% 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94,104,121,0.288);
}

.logo{
  margin-left: 1%;
}

.logout{
  display:flex;
  align-items: center;
  margin-right: 1%;
}